spring:
  application:
    name: showroomz	
  config:
    import: optional:file:.env[.properties]  
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local} # 환경변수가 없으면 local 기본값
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true  # SQL 쿼리를 보기 좋게 줄 바꿈하여 정렬합니다.
        use_sql_comments: true # JPQL 쿼리 내용을 주석으로 함께 표시해줍니다.
      
  # Flyway 설정 추가
  flyway:
    enabled: true
    # 기존에 생성된 테이블이 있다면 메타데이터 테이블을 생성하여 관리 시작 (필수 설정)
    baseline-on-migrate: true
    baseline-version: 1
    
app:
  base-url: ${APP_BASE_URL:https://www.showroomz.co.kr}  # 마켓 URL 생성에 사용되는 기본 도메인
  auth:
    # JWT 시크릿 키 (32자 이상 권장, 임의의 긴 문자열 사용)
    tokenSecret: ${TOKEN_SECRET}
    tokenExpiry: 1800000      # 액세스 토큰 만료 시간 (30분, 밀리초 단위)
    refreshTokenExpiry: 604800000 # 리프레시 토큰 만료 시간 (7일)

# JwtConfig.java 관련 설정 
jwt:
  secret: ${TOKEN_SECRET}

# CorsProperties.java 관련 설정
cors:
  allowed-origins: http://localhost:3000,http://localhost:5173,http://localhost:8080,http://api.showroomz.shop,https://api.showroomz.shop,http://54.180.85.237:8080,https://54.180.85.237:8080,https://front-end-partners-one.vercel.app,https://front-end-admin-seven-brown.vercel.app
  allowed-methods: GET,POST,PUT,DELETE,PATCH,OPTIONS
  allowed-headers: '*'
  max-age: 3600

# S3Properties.java 관련 설정
aws:
  s3:
    bucket: ${AWS_S3_BUCKET}
    region: ${AWS_S3_REGION:ap-northeast-2}
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}
    cloud-front-domain: ${AWS_CLOUDFRONT_DOMAIN:}


springdoc:
  swagger-ui:
    tags-sorter: alpha       # 태그를 알파벳순 정렬
    operations-sorter: alpha # API(메서드)도 알파벳순 정렬

# Sentry 설정 (공통)
sentry:
  dsn: ${SENTRY_DSN:https://default-dsn-address@sentry.io/0} # Sentry에서 발급받은 DSN을 환경 변수에서 읽어옴
  exception-resolver-order: -2147483647 # Sentry 예외 처리 순서를 가장 높게 설정
  logging:
    minimum-event-level: error # log.error() 이상은 무조건 Sentry로 보냄
    minimum-breadcrumb-level: info # log.info()는 Sentry 이슈 내의 '타임라인(Breadcrumb)'에 기록으로 남김
  ignored-exceptions-for-type:
    - showroomz.api.app.auth.exception.BusinessException
