name: Deploy Spring Boot to EC2

on:
  push:
    branches:
      - main 
  workflow_dispatch:  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: 소스 코드 체크아웃
      uses: actions/checkout@v3

    - name: Java 21 설정
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: '21'

    # [추가됨] 1. GitHub Secret 내용을 이용해 .env 파일 생성
    - name: Make .env file
      run: |
        echo "${{ secrets.APPLICATION_ENV }}" > .env
      shell: bash

    - name: Gradle 빌드
      run: |
        chmod +x gradlew
        ./gradlew clean build -x test

    - name: AWS 로그인 (S3 & CodeDeploy 사용)
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2  # 서울 리전

    - name: S3에 업로드
      run: |
        mkdir deploy
        # 빌드된 jar 파일 복사
        cp build/libs/back-end-0.0.1-SNAPSHOT.jar deploy/app.jar
        
        # 설정 파일들 복사
        cp appspec.yml deploy/
        cp scripts/start.sh deploy/
        cp scripts/unzip.sh deploy/
        
        # [추가됨] 2. 아까 만든 .env 파일도 배포 폴더에 복사
        cp .env deploy/
        
        # deploy 폴더 전체를 압축
        zip -r deploy.zip deploy/
        
        # S3 업로드
        aws s3 cp deploy.zip s3://${{ secrets.AWS_S3_BUCKET}}/deploy.zip

    - name: AWS CodeDeploy 실행
      run: |
        aws deploy create-deployment \
          --application-name spring-boot-app \
          --deployment-group-name spring-boot-deploy-group \
          --s3-location bucket=${{ secrets.AWS_S3_BUCKET}},bundleType=zip,key=deploy.zip
