name: Deploy Spring Boot to EC2

on:
  push:
    branches:
      - main 
  workflow_dispatch:  
jobs:
  deploy:
    runs-on: ubuntu-latest

    # 1. MySQL 서비스 컨테이너 추가 (테스트용 DB 띄우기)
    services:
      mysql:
        image: mysql:8.0 # 로컬과 동일한 버전 권장
        env:
          MYSQL_ROOT_PASSWORD: root # 테스트용 비밀번호
          MYSQL_DATABASE: showroomz # 생성할 DB 이름
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
    - name: 소스 코드 체크아웃
      uses: actions/checkout@v3

    - name: Java 21 설정
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: '21'
        cache: 'gradle'

    # [추가됨] 1. GitHub Secret 내용을 이용해 .env 파일 생성
    - name: Make .env file
      run: |
        echo "${{ secrets.APPLICATION_ENV }}" > .env
      shell: bash
    # 1. 통합 테스트(DB 검증) 먼저 실행 -> 실패하면 여기서 배포 중단됨
    - name: Run Integration Tests (DB Schema Validation)
      run: |
        chmod +x gradlew
        ./gradlew integrationTest
      env:
          # Spring Boot가 이 환경변수를 인식하여 application.yml 설정보다 우선 적용함
          SPRING_DATASOURCE_URL: jdbc:mysql://127.0.0.1:3306/showroomz?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
          SPRING_DATASOURCE_USERNAME: root
          SPRING_DATASOURCE_PASSWORD: root

    - name: Gradle 빌드
      run: |
        chmod +x gradlew
        ./gradlew clean build -x test

    - name: AWS 로그인 (S3 & CodeDeploy 사용)
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2  # 서울 리전

    - name: S3에 업로드
      run: |
        mkdir deploy
        # 빌드된 jar 파일 복사
        cp build/libs/back-end-0.0.1-SNAPSHOT.jar deploy/app.jar
        
        # 설정 파일들 복사
        cp appspec.yml deploy/
        cp scripts/start.sh deploy/
        cp scripts/unzip.sh deploy/
        
        # [추가됨] 2. 아까 만든 .env 파일도 배포 폴더에 복사
        cp .env deploy/
        
        # deploy 폴더 전체를 압축
        zip -r deploy.zip deploy/
        
        # S3 업로드
        aws s3 cp deploy.zip s3://${{ secrets.AWS_S3_BUCKET}}/deploy.zip

    - name: AWS CodeDeploy 실행
      run: |
        aws deploy create-deployment \
          --application-name spring-boot-app \
          --deployment-group-name spring-boot-deploy-group \
          --s3-location bucket=${{ secrets.AWS_S3_BUCKET}},bundleType=zip,key=deploy.zip
